#registerR {
    color: #ff4136;
}
  
.register-box-inner {
  width: 80%;
  height: 100%;
  margin-top: 20px;
  
}

.register-box-inner  input {
  margin-bottom: 20px;
  border-color: currentcolor currentcolor #8e8e8e;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #686868;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
  background: transparent;
}